In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel("GSAF5.xls")

EDA was already done, are fair understanding of what need to be cleaned exists already.

In [3]:
df.columns = df.columns.str.lower().str.strip().str.replace(" ", "_").str.replace("/","_",regex=False).str.strip("_")
df.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'fatal_y_n', 'time', 'species',
       'source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1',
       'original_order', 'unnamed:_21', 'unnamed:_22'],
      dtype='object')

In [4]:
df['country'] = (df['country'].str.strip().str.upper())

In [5]:
df['country']= df['country'].replace({'CEYLON (SRI LANKA)':'SRI LANKA','CEYLON': 'SRI LANKA','UNITED ARAB EMIRATES (UAE)': 'UNITED ARAB EMIRATES', 'AFRICA': 'COAST OF AFRICA', 'BURMA': 'MYANMAR',
    'WESTERN SAMOA': 'SAMOA', 'TURKS & CAICOS': 'TURKS AND CAICOS',
    'TRINIDAD & TOBAGO': 'TRINIDAD AND TOBAGO',
    'ST. MARTIN': 'ST MARTIN',
    'ST. MAARTIN': 'ST MARTIN'})

In [6]:
water_keywords = [
    'OCEAN', 'SEA', 'GULF', 'BAY', 'COAST', 'ATLANTIC', 'PACIFIC',
    'INDIAN', 'MEDITERRANEAN', 'CARIBBEAN'
]

mask_water = df['country'].str.contains(
    '|'.join(water_keywords),
    na=False
)

df.loc[mask_water, 'country']

#rows can later become:

# country = NaN
# region = "PACIFIC OCEAN"

149                                 CORAL SEA
344                BRITISH OVERSEAS TERRITORY
833     ST HELENA, BRITISH OVERSEAS TERRITORY
874     ST HELENA, BRITISH OVERSEAS TERRITORY
1174                           ATLANTIC OCEAN
                        ...
6897                        MEDITERRANEAN SEA
6984                                 RED SEA?
6990                        MEDITERRANEAN SEA
7013                      NORTH PACIFIC OCEAN
7025                            PACIFIC OCEAN
Name: country, Length: 110, dtype: object

In [7]:
df.loc[mask_water, 'country'] = pd.NA

In [8]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

/tmp/ipython-input-2370506791.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [9]:
df['fatal_y_n'] = df['fatal_y_n'].str.lower().str.strip()

In [10]:
df['fatal_y_n'] = df['fatal_y_n'].replace({'nan': 'unknown', 'm':'n', 'f': 'unkown','nq':'unknown','y x 2':'y' })

In [11]:
df['sex'] = df['sex'].str.lower().str.strip()

In [12]:
df['sex'] = df['sex'].replace({'m x 2':'m','lli':'unknown', '.':'unknown', 'n':'m'})

Deleting all columns after species, as they dont offer and insigts

In [13]:
df = df.loc[:, :'species']

In [14]:
df['species'].unique()

array(['3m Bull shark ', 'Great White Shark', '3m shark', ...,
       "12' tiger shark", 'Blue pointers',
       'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable'],
      dtype=object)

In [15]:
df['species'] = df['species'].str.lower().str.strip().str.replace('"', '', regex=False)

In [16]:
df['species'] = df['species'].str.replace(
    r"\b\d+[,\d]*\s*(lb|lbs|kg|m|ft|feet|')\b",
    "",
    regex=True
)

In [17]:
df['species'] = df['species'].str.extract(r'([a-z\s-]*shark)',expand=False)

In [18]:
df['species'].unique()

array([' bull shark', 'great white shark', ' shark', nan,
       'suspected tiger shark', 'nurse shark', 'tiger or bull shark',
       'tiger shark', 'lemon shark', 'undetermined small shall shark',
       'sand tiger shark', 'small shark', 'bull shark', 'dusky shark',
       ' tiger shark', 'mako shark', 'reportedly tiger or bull shark',
       'reportedly a tiger shark', 'reported as a large tiger shark',
       'large tiger shark', 'reportedly tiger shark', 'reef shark',
       ' white shark', '- blacktip shark',
       'not stated area has tiger and galapogas shark',
       'not specified bull shark', 'large shark', ' sandbar shark',
       'carribean reef shark', 'blacktip reef shark', 'white shark',
       'raggedtooth shark', 'sevengill shark', 'shark',
       'oceanic whitetip shark', ' galapagos shark', 'cookiecutter shark',
       'blue shark', 'wfite shark', 'wobbegong shark',
       'caribbean rreef shark', 'grey reef shark', 'caribbean reef shark',
       ' horn shark', 'bronze whaler shark', ' to  shark',
       'a small shark', 'tiger  shark', 'juvenile white shark',
       'juvenile nurse shark', 'blacktip shark', ' sandtiger shark',
       'oceaniic whitetip shark', 'while shark',
       'atlantic blacktip shark', 'epaulette shark',
       'blacktip or spinner shark', 'broadnose seven gill shark',
       'no shark', 'small blacktip shark', 'sickelfin lemon shark',
       'spinner shark', 'said to involve a bull shark', 'galapagos shark',
       'tope shark', '-ff tiger shark', 'whaler or bull shark',
       'juvenile shark', 'small nurse shark',
       'injuries not caused by a shark', 'whitetip shark',
       'juvenile bull shark', 'angel shark', 'shovelnose shark',
       'juvenile blacktip shark', ' blacktip shark', ' m shark',
       'sandtiger shark', 'grey nurse shark', 'reported as shark',
       'said to involve a blacktip shark', 'salmon shark', ' not a shark',
       'tawny nurse shark', 'sicklefin lemon shark',
       'some drowned but other may have been killed by blue shark',
       'possibly a juvenile blacktip shark', 'seven-gill shark',
       'broadnose sevengill shark', 'dogfish shark', 'silky shark',
       'hammerhead shark', '-foot shark', ' to   shark',
       'white shark or oceanic whitetip shark', 'goblin shark',
       'spinner shark or blacktip shark', 'possibly juvenile tiger shark',
       ' metre shark', 'sandbar shark', 'tawney nurse shark', 'cow shark',
       ' to  white shark', '-gill shark',
       'reported to involve a bull shark',
       'thought to involve a white shark',
       'reported to involve a white shark',
       'thought to involve a bull shark',
       'reported to involve a  white shark', 'whitetip reef shark',
       'small bull shark', 'possibly a bull shark',
       'possibly a blacktip reef shark', 'possibly a  bull shark',
       'porbeagle shark', ' to shark', 'a small reef shark',
       'allegedly a  tiger shark', 'port jackson shark', 'zambesi shark',
       'possibly a bronze whaler shark', ' lemon shark',
       'possibly a small blacktip shark', 'a small spinner shark',
       'possibly a blue shark',
       'thought to involve a juvenile hammerhead shark', 'thresher shark',
       'thought to involve a bronze whale shark',
       'thought to involve a cookiecutter shark', ' juvenile shark',
       ' bull shark or caribbean reef shark', '  shark', ' reef shark',
       'starry smoothhound shark', 'basking shark', ' small bull shark',
       'reported by media as shark', 'a bull shark',
       'possibly a hammerhead shark', 'not a shark', 'gray reef shark',
       'possibly a spinner shark', 'sand shark',
       ' small spotted catshark', '-pound pregnant blacktip reef shark',
       'silvertip shark', 'small catshark',
       'thought to involve a mako shark', 'bull or tiger shark',
       ' spinner or bull shark', ' blacktip reef shark',
       ' blacktip or spinner shark', '-kg shark',
       'possibly a sandbar shark or small blacktip shark',
       ' but it was reported that a shark', '-year old white shark',
       ' copper shark', 'small hammerhead shark', ' caribbean reef shark',
       '  white shark', ' bull or tiger shark', 'longfin mako shark',
       'black tipped shark', ' sevengill  shark', ' blind or brown shark',
       ' to  sandtiger shark', 'shortfin mako shark',
       ' oceanic whitetip shark', ' grey-colored shark', ' cow shark',
       ' great hammerhead shark', 'small brown shark', ' captive shark',
       ' grey nurse shark', 'reported to involve a hammerhead shark',
       ' grey colored shark', '\xa0 caribbean reef shark',
       'possibly a bull shark or tiger shark',
       ' hammerhead or bonnethed shark', ' blacktip or sandbar shark',
       ' whaler shark', 'questionable incident - shark',
       'a large white shark', 'possibly  a blacktip or spinner shark',
       'possibly a juvenile blacktip or spinner shark',
       ' black finned shark', ' dead blue shark',
       'thought to involve a zambesi shark', '-lb bull shark',
       ' cm blacktip  shark', '  bull shark or caribbean reef shark',
       'bronze whaler or tiger shark', 'possibly a white shark',
       'though to involve a white shark', ' spinner shark',
       'small dusky shark or blackfin shark', 'possibly a blacktip shark',
       'soupfin shark',
       'thought to involve an oceanic whitetip shark or a white shark',
       'possibly a sand shark', 'possibly a caribbean reef shark',
       'a young shark', ' hammerhead shark',
       'said to involve an oceanic whitetip shark',
       'possibly a tiger shark', '   shark',
       'though to involve a tiger shark', 'leopard shark',
       'thought to involve a small sand shark',
       ' blacktip shark or caribbean reef shark',
       'thought to involve a tiger shark', 'possiby white shark',
       'unidentified shark', 'bull shark or lemon shark',
       '-kg white shark', ' grey shark', '-lb reef shark',
       ' bull or lemon shark', ' female white shark', ' female shark',
       'two shark', '-lb shark', ' gaffed shark', ' silvertip shark',
       'zambezi shark', ' spinner or blacktip shark',
       'tooth fragment of a white shark', ' dusky shark',
       ' sixgill or sevengill shark', ' silky shark',
       'possibly a small hammerhead shark', 'small blue shark',
       ' white-tipped reef shark', ' zambezi shark', ' reported as shark',
       'reported as a shark', ' shot white shark',
       'said to involve a tiger shark or a hammerhead shark', 'sandshark',
       'gray shark', '-lb thresher shark', ' sandbar or dusky shark',
       'juvenile dusky or blacktip shark', ' zambesi shark',
       'said to involve a white shark but shark',
       'thought to involve a blacktip shark',
       ' lemon shark or bull shark', 'whale shark',
       'juvenile dusky shark', 'carpet shark', 'copper shark',
       ' blue shark', '  blacktip shark', ' grey reef shark',
       '  porbeagle shark', 'dog shark', ' scalloped hammerhead shark',
       '-kg blackfin shark', 'a small hammerhead shark',
       'white shark or thresher shark', 'spinner or blacktip shark',
       'lemon shark or sandtiger shark',
       'local authorities speculated that the water was too cold for shark',
       'believed white shark and other smaller species of shark',
       'alleged to involve a white shark', ' carpet shark',
       '-lb zambesi shark', 'a long thin brown-colored shark',
       'sevengill  shark', ' cm  shark', ' red shark',
       'said to involve a grey nurse shark',
       '  yellow belly captive shark', 'gummy shark', ' banjo shark',
       '-kg mako shark', 'six zambesi shark', '-lb hooked shark',
       ' possibly  larger shark', 'blacktail reef shark',
       'a hammerhead shark', 'said to involve white shark',
       'several shark', 'identified as carcharinid shark',
       'said to involve a   white shark',
       'said to involve a large mako shark', 'a sand shark',
       'porbeagle or white shark', '-lb sand shark', ' species of shark',
       ' thresher or blue shark', ' sand shark',
       'small brown-colored shark', 'a little shark',
       'reported as  a shark', ' brown shark', 'a small slim brown shark',
       'attacked by a number of shark', ' possibly a white shark',
       'small carpet shark', 'possibly a lemon shark',
       'whtietip reef shark', 'bonita shark', 'whaler shark',
       'grey shark', ' a small shark', ' blacktip shark or spinner shark',
       'a large shark', 'thought to involve bull shark',
       'grey-colored shark', ' blue nosed shark', 'blue nose shark',
       ' blue-nosed shark', '  tiger shark',
       'thought to involve a mako or grey nurse shark',
       'teeth in hull identified as those from a white shark',
       '-lb dog shark', 'a school of shark', ' cocktail shark',
       'a dog shark', 'whiptail shark', ' white shark or sevengill shark',
       ' the shark', 'a blue shark', 'a very large shark',
       ' remains were recovered from a dusky shark', 'comrades saw shark',
       ' dog shark', 'said to involve a tiger shark',
       ' possible white shark',
       'fishermen recovered partial remains from shark', '  female shark',
       ' but the shark', 'blue or porbeagle shark', ' ground shark',
       'remains recovered from shark',
       'thought to involve a porbeagle or mako shark',
       'description of shark', 'possibly white shark',
       'a large hammerhead shark', 'a pack of shark',
       'a black-tipped shark'], dtype=object)

In [19]:
df['species'] = (
    df['species']
      .astype(str)
      .str.lower()
      .str.replace('\xa0', ' ', regex=False)
      .str.replace('"', '', regex=False)
      .str.strip())

In [20]:
df['species'] = df['species'].str.replace(
    r"\b\d+[,\d]*\s*(kg|lb|lbs|cm|m|ft|feet|')\b",
    "",
    regex=True)

not_shark_patterns = r'not a shark|no shark|injuries not caused by a shark|local authorities speculated'

df.loc[df['species'].str.contains(not_shark_patterns, na=False),
    'species'] = 'NOT A SHARK'

In [21]:
df['species'] = df['species'].str.extract(
    r'([a-z\s\-]+shark)',
    expand=False)

In [22]:
df['species'] = df['species'].replace(
    {
    'bull shark': 'BULL SHARK',
    'zambezi shark': 'BULL SHARK',

    'great white shark': 'GREAT WHITE SHARK',
    'white shark': 'GREAT WHITE SHARK',

    'tiger shark': 'TIGER SHARK',

    'blacktip shark': 'BLACKTIP SHARK',
    'black tipped shark': 'BLACKTIP SHARK',

    'grey nurse shark': 'GREY NURSE SHARK',
    'gray nurse shark': 'GREY NURSE SHARK',
    'raggedtooth shark': 'GREY NURSE SHARK',

    'lemon shark': 'LEMON SHARK',
    'spinner shark': 'SPINNER SHARK',
    'hammerhead shark': 'HAMMERHEAD SHARK',
    'reef shark': 'REEF SHARK',
    'dusky shark': 'DUSKY SHARK',
    'sand tiger shark': 'SAND TIGER SHARK',
    'sandtiger shark': 'SAND TIGER SHARK',
    'mako shark': 'MAKO SHARK',
    'blue shark': 'BLUE SHARK',
    'whitetip shark': 'OCEANIC WHITETIP SHARK',
    'oceanic whitetip shark': 'OCEANIC WHITETIP SHARK',
    'sevengill shark': 'SEVENGILL SHARK',
    'seven gill shark': 'SEVENGILL SHARK',
    'shark': 'UNKNOWN SHARK'
}
)

In [23]:
df['species'].unique()

array(['BULL SHARK', 'GREAT WHITE SHARK', nan, 'suspected tiger shark',
       'nurse shark', 'tiger or bull shark', 'TIGER SHARK', 'LEMON SHARK',
       'undetermined small shall shark', 'SAND TIGER SHARK',
       'small shark', 'DUSKY SHARK', 'MAKO SHARK',
       'reportedly tiger or bull shark', 'reportedly a tiger shark',
       'reported as a large tiger shark', 'large tiger shark',
       'reportedly tiger shark', 'REEF SHARK', '- blacktip shark',
       'not stated area has tiger and galapogas shark',
       'not specified bull shark', 'large shark', 'sandbar shark',
       'carribean reef shark', 'blacktip reef shark', 'GREY NURSE SHARK',
       'SEVENGILL SHARK', 'OCEANIC WHITETIP SHARK', 'galapagos shark',
       'cookiecutter shark', 'BLUE SHARK', 'wfite shark',
       'wobbegong shark', 'caribbean rreef shark', 'grey reef shark',
       'caribbean reef shark', 'horn shark', 'bronze whaler shark',
       'to  shark', 'a small shark', 'tiger  shark',
       'juvenile white shark', 'juvenile nurse shark', 'BLACKTIP SHARK',
       'oceaniic whitetip shark', 'while shark',
       'atlantic blacktip shark', 'epaulette shark',
       'blacktip or spinner shark', 'broadnose seven gill shark',
       'small blacktip shark', 'sickelfin lemon shark', 'SPINNER SHARK',
       'said to involve a bull shark', 'tope shark', '-ff tiger shark',
       'whaler or bull shark', 'juvenile shark', 'small nurse shark',
       'juvenile bull shark', 'angel shark', 'shovelnose shark',
       'juvenile blacktip shark', 'm shark', 'reported as shark',
       'said to involve a blacktip shark', 'salmon shark',
       'tawny nurse shark', 'sicklefin lemon shark',
       'some drowned but other may have been killed by blue shark',
       'possibly a juvenile blacktip shark', 'seven-gill shark',
       'broadnose sevengill shark', 'dogfish shark', 'silky shark',
       'HAMMERHEAD SHARK', '-foot shark', 'to   shark',
       'white shark or oceanic whitetip shark', 'goblin shark',
       'spinner shark or blacktip shark', 'possibly juvenile tiger shark',
       'metre shark', 'tawney nurse shark', 'cow shark',
       'to  white shark', '-gill shark',
       'reported to involve a bull shark',
       'thought to involve a white shark',
       'reported to involve a white shark',
       'thought to involve a bull shark',
       'reported to involve a  white shark', 'whitetip reef shark',
       'small bull shark', 'possibly a bull shark',
       'possibly a blacktip reef shark', 'possibly a  bull shark',
       'porbeagle shark', 'to shark', 'a small reef shark',
       'allegedly a  tiger shark', 'port jackson shark', 'zambesi shark',
       'possibly a bronze whaler shark',
       'possibly a small blacktip shark', 'a small spinner shark',
       'possibly a blue shark',
       'thought to involve a juvenile hammerhead shark', 'thresher shark',
       'thought to involve a bronze whale shark',
       'thought to involve a cookiecutter shark',
       'bull shark or caribbean reef shark', 'starry smoothhound shark',
       'basking shark', 'reported by media as shark', 'a bull shark',
       'possibly a hammerhead shark', 'gray reef shark',
       'possibly a spinner shark', 'sand shark', 'small spotted catshark',
       '-pound pregnant blacktip reef shark', 'silvertip shark',
       'small catshark', 'thought to involve a mako shark',
       'bull or tiger shark', 'spinner or bull shark', '-kg shark',
       'possibly a sandbar shark or small blacktip shark',
       'but it was reported that a shark', '-year old white shark',
       'copper shark', 'small hammerhead shark', 'longfin mako shark',
       'sevengill  shark', 'blind or brown shark', 'to  sandtiger shark',
       'shortfin mako shark', 'grey-colored shark',
       'great hammerhead shark', 'small brown shark', 'captive shark',
       'reported to involve a hammerhead shark', 'grey colored shark',
       'possibly a bull shark or tiger shark',
       'hammerhead or bonnethed shark', 'blacktip or sandbar shark',
       'whaler shark', 'questionable incident - shark',
       'a large white shark', 'possibly  a blacktip or spinner shark',
       'possibly a juvenile blacktip or spinner shark',
       'black finned shark', 'dead blue shark',
       'thought to involve a zambesi shark', '-lb bull shark',
       'cm blacktip  shark', 'bronze whaler or tiger shark',
       'possibly a white shark', 'though to involve a white shark',
       'small dusky shark or blackfin shark', 'possibly a blacktip shark',
       'soupfin shark',
       'thought to involve an oceanic whitetip shark or a white shark',
       'possibly a sand shark', 'possibly a caribbean reef shark',
       'a young shark', 'said to involve an oceanic whitetip shark',
       'possibly a tiger shark', 'though to involve a tiger shark',
       'leopard shark', 'thought to involve a small sand shark',
       'blacktip shark or caribbean reef shark',
       'thought to involve a tiger shark', 'possiby white shark',
       'unidentified shark', 'bull shark or lemon shark',
       '-kg white shark', 'grey shark', '-lb reef shark',
       'bull or lemon shark', 'female white shark', 'female shark',
       'two shark', '-lb shark', 'gaffed shark',
       'spinner or blacktip shark', 'tooth fragment of a white shark',
       'sixgill or sevengill shark', 'possibly a small hammerhead shark',
       'small blue shark', 'white-tipped reef shark',
       'reported as a shark', 'shot white shark',
       'said to involve a tiger shark or a hammerhead shark', 'sandshark',
       'gray shark', '-lb thresher shark', 'sandbar or dusky shark',
       'juvenile dusky or blacktip shark',
       'said to involve a white shark but shark',
       'thought to involve a blacktip shark', 'lemon shark or bull shark',
       'whale shark', 'juvenile dusky shark', 'carpet shark', 'dog shark',
       'scalloped hammerhead shark', '-kg blackfin shark',
       'a small hammerhead shark', 'white shark or thresher shark',
       'lemon shark or sandtiger shark',
       'believed white shark and other smaller species of shark',
       'alleged to involve a white shark', '-lb zambesi shark',
       'a long thin brown-colored shark', 'cm  shark', 'red shark',
       'said to involve a grey nurse shark', 'yellow belly captive shark',
       'gummy shark', 'banjo shark', '-kg mako shark',
       'six zambesi shark', '-lb hooked shark', 'possibly  larger shark',
       'blacktail reef shark', 'a hammerhead shark',
       'said to involve white shark', 'several shark',
       'identified as carcharinid shark',
       'said to involve a   white shark',
       'said to involve a large mako shark', 'a sand shark',
       'porbeagle or white shark', '-lb sand shark', 'species of shark',
       'thresher or blue shark', 'small brown-colored shark',
       'a little shark', 'reported as  a shark', 'brown shark',
       'a small slim brown shark', 'attacked by a number of shark',
       'small carpet shark', 'possibly a lemon shark',
       'whtietip reef shark', 'bonita shark',
       'blacktip shark or spinner shark', 'a large shark',
       'thought to involve bull shark', 'blue nosed shark',
       'blue nose shark', 'blue-nosed shark',
       'thought to involve a mako or grey nurse shark',
       'teeth in hull identified as those from a white shark',
       '-lb dog shark', 'a school of shark', 'cocktail shark',
       'a dog shark', 'whiptail shark', 'white shark or sevengill shark',
       'the shark', 'a blue shark', 'a very large shark',
       'remains were recovered from a dusky shark', 'comrades saw shark',
       'said to involve a tiger shark', 'possible white shark',
       'fishermen recovered partial remains from shark', 'but the shark',
       'blue or porbeagle shark', 'ground shark',
       'remains recovered from shark',
       'thought to involve a porbeagle or mako shark',
       'description of shark', 'possibly white shark',
       'a large hammerhead shark', 'a pack of shark',
       'a black-tipped shark'], dtype=object)

In [24]:
unclear_patterns = (
    r'suspected|possibly|thought to involve|reported to involve|'
    r'reported as|said to involve|allegedly|believed|'
    r'\bor\b|unknown|unidentified|small shark|large shark|'
    r'several shark|pack of shark'
)

df.loc[
    df['species'].str.contains(unclear_patterns, na=False),
    'species'
] = 'UNKNOWN SHARK'

In [25]:
df['species'] = df['species'].replace(
    {
    'bull shark': 'BULL SHARK',
    'zambesi shark': 'BULL SHARK',

    'white shark': 'GREAT WHITE SHARK',
    'great white shark': 'GREAT WHITE SHARK',

    'tiger shark': 'TIGER SHARK',
    'blacktip shark': 'BLACKTIP SHARK',
    'spinner shark': 'SPINNER SHARK',
    'hammerhead shark': 'HAMMERHEAD SHARK',
    'lemon shark': 'LEMON SHARK',
    'reef shark': 'REEF SHARK',
    'grey nurse shark': 'GREY NURSE SHARK',
    'gray nurse shark': 'GREY NURSE SHARK',
    'mako shark': 'MAKO SHARK',
    'blue shark': 'BLUE SHARK',
    'sand tiger shark': 'SAND TIGER SHARK',
    'dusky shark': 'DUSKY SHARK',
    'oceanic whitetip shark': 'OCEANIC WHITETIP SHARK',
    'sevengill shark': 'SEVENGILL SHARK',
    'shark': 'UNKNOWN SHARK'
}
)

In [26]:
df['species'].value_counts()

species
GREAT WHITE SHARK               661
TIGER SHARK                     282
BULL SHARK                      227
UNKNOWN SHARK                   209
GREY NURSE SHARK                 81
                               ...
ground shark                      1
remains recovered from shark      1
description of shark              1
a large hammerhead shark          1
a black-tipped shark              1
Name: count, Length: 185, dtype: int64

In [27]:
allowed_species = {
    'bull shark': 'BULL SHARK',
    'great white shark': 'GREAT WHITE SHARK',
    'white shark': 'GREAT WHITE SHARK',
    'tiger shark': 'TIGER SHARK',
    'blacktip shark': 'BLACKTIP SHARK',
    'spinner shark': 'SPINNER SHARK',
    'reef shark': 'REEF SHARK',
    'grey nurse shark': 'GREY NURSE SHARK',
    'gray nurse shark': 'GREY NURSE SHARK',
    'hammerhead shark': 'HAMMERHEAD SHARK',
    'lemon shark': 'LEMON SHARK',
    'mako shark': 'MAKO SHARK',
    'dusky shark': 'DUSKY SHARK',
    'sand tiger shark': 'SAND TIGER SHARK',
    'blue shark': 'BLUE SHARK',
    'oceanic whitetip shark': 'OCEANIC WHITETIP SHARK',
    'sevengill shark': 'SEVENGILL SHARK'
}

In [28]:
def strict_species_classifier(s):
    if pd.isna(s):
        return pd.NA

    s = str(s).lower().strip()

    # anything with uncertainty / junk → UNKNOWN
    unclear_patterns = (
        r'suspected|possibly|reported|thought|said|alleged|believed|'
        r'juvenile|small|large|young|female|male|'
        r'\bor\b|unknown|unidentified|'
        r'\d|kg|lb|cm|m|ft|-'
    )

    if re.search(unclear_patterns, s):
        return 'UNKNOWN SHARK'

    # exact species match only
    for k, v in allowed_species.items():
        if s == k:
            return v

    # everything else
    if 'shark' in s:
        return 'UNKNOWN SHARK'

    return pd.NA

In [29]:
import re

df['species'] = df['species'].apply(strict_species_classifier)

In [30]:
df['species'].unique()

array(['BULL SHARK', 'GREAT WHITE SHARK', <NA>, 'UNKNOWN SHARK',
       'TIGER SHARK', 'SAND TIGER SHARK', 'DUSKY SHARK', 'REEF SHARK',
       'GREY NURSE SHARK', 'SEVENGILL SHARK', 'OCEANIC WHITETIP SHARK',
       'BLUE SHARK', 'BLACKTIP SHARK', 'SPINNER SHARK'], dtype=object)

In [31]:
df.head(1)

,date,year,type,country,state,location,activity,name,sex,age,injury,fatal_y_n,time,species
0,NaT,2025.0,Unprovoked,AUSTRALIA,NSW,Crowdy Bay,Swimming,Lukas Schindler,m,26,Serious leg injuries,n,0630hrs,BULL SHARK

In [32]:
df['type'].unique()

array(['Unprovoked', 'Provoked', 'Questionable', 'unprovoked',
       ' Provoked', 'Watercraft', 'Sea Disaster', nan, '?', 'Unconfirmed',
       'Unverified', 'Invalid', 'Under investigation', 'Boat'],
      dtype=object)

In [33]:
df['type'] = (
    df['type']
      .astype(str)
      .str.lower()
      .str.strip()
)

In [34]:
def clean_type(t):
    if t == 'nan' or pd.isna(t):
        return 'UNKNOWN'

    if 'unprovoked' in t:
        return 'UNPROVOKED'

    if 'provoked' in t:
        return 'PROVOKED'

    if 'boat' in t:
        return 'BOAT'

    if 'sea disaster' in t or 'ship' in t:
        return 'SEA DISASTER'

    if 'invalid' in t:
        return 'INVALID'

    return 'UNKNOWN'

In [35]:
df['type'] = df['type'].apply(clean_type)

In [36]:
df['type'].unique()

array(['UNPROVOKED', 'PROVOKED', 'UNKNOWN', 'SEA DISASTER', 'INVALID',
       'BOAT'], dtype=object)

In [37]:
df = df.drop_duplicates()

In [38]:
df.isna().mean().sort_values(ascending=False)*100

species      66.520198
time         49.936215
age          42.395464
date         12.870305
activity      8.291991
sex           8.206945
location      8.022679
fatal_y_n     7.965982
state         6.888731
name          3.104181
country       2.267895
injury        0.496102
year          0.028349
type          0.000000
dtype: float64

Time will be droped since almost 50% missing and not relevant for analysis

In [39]:
df = df.drop(columns=['time'])

In [40]:
df['activity'] = df['activity'].str.strip().fillna('UNKNOWN')

In [42]:
df['fatal_y_n'] = df['fatal_y_n'].str.upper().str.strip()
df['fatal_y_n'] = df['fatal_y_n'].replace({'Y': 'FATAL', 'N': 'NON-FATAL', '': 'UNKNOWN'})

In [43]:
df['fatal_y_n'] = df['fatal_y_n'].str.strip().fillna('UNKNOWN')

In [46]:
df = df.rename(columns={'fatal_y_n':'fatality'})

In [47]:
df.head()

,date,year,type,country,state,location,activity,name,sex,age,injury,fatality,species
0,NaT,2025.0,UNPROVOKED,AUSTRALIA,NSW,Crowdy Bay,Swimming,Lukas Schindler,m,26,Serious leg injuries,NON-FATAL,BULL SHARK
1,NaT,2025.0,UNPROVOKED,AUSTRALIA,NSW,Crowdy Bay,Swimming,Livia Mulheim,f,25,Not stated,FATAL,BULL SHARK
2,NaT,2025.0,UNPROVOKED,AUSTRALIA,Western Australia,Prevelly Beach Magaret River,Foil Boarding,Andy McDonald,m,61,No Injury to self,NON-FATAL,GREAT WHITE SHARK
3,NaT,2025.0,UNPROVOKED,FRENCH POLYNESIA,Marquesas Islands,Hakahau Bay,Swimming,Not stated (Dentist),m,40,Deep Gash to bicep,NON-FATAL,<NA>
4,NaT,2025.0,UNPROVOKED,USA,Hawaii,Pine Trees Hanalei Bay Kaui,Swimming,Chance Swanson,m,?,Injuries to legs,NON-FATAL,<NA>

In [48]:
df.shape

(7055, 13)

In [49]:
df.to_excel("shark_attack_cleaned.xlsx", index=False)